body {
  background-color: pink;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 240px;
}
.centered {
  text-align: center;
  color: blue;
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid yellow;
  background: #d0d0d0;
}
.input-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#google-logo {
  body, html {
    font-size: small;
}
body {
    color: #222;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
}
#fancy {
  font-family: Arial, fantasy;
  }
#title {
  font-family: Impact;
  }
