.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 240px;
}
.centered {
  text-align: center;
  color: blue;
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: 5px solid yellow;
  background: gray;
}
.input-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
