.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 240px;
}
.centered {
  text-align: center;
  color: blue;
}
.input-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
